{% extends 'base2.html' %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Specify the figure's details</h1>
            <a href="#" id="plot" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i> Generate Figure</a>
        </div>

        <!-- Content Row -->

        <div class="row">
            <!-- Graph settings -->
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Lines (<a href="#" id="add_line" class="button">Add
                            line</a>)</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                 aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="accordion" id="line_forms">
                            <div class="card">
                                <div class="card-header" id="axes_card">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left font-weight-bold text-primary text-uppercase"
                                                type="button" data-toggle="collapse" data-target="#axes"
                                                aria-expanded="true" aria-controls="axes">
                                            Axes
                                        </button>
                                    </h2>
                                </div>
                                <div id="axes" class="collapse show" aria-labelledby="heading_axes"
                                     data-parent="#line_forms">
                                    <div class="card-body">
                                        <form id="graph" class="form_axes row" method="POST" action=".">
                                            {{ form.csrf_token }}
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Title {{ form.title() }}
                                            </div>
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                X label {{ form.xlabel() }}
                                            </div>
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Y label {{ form.ylabel() }}
                                            </div>
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Grid {{ form.isgrid() }}
                                            </div>
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Legend {{ form.legend() }}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h2 class="mb-0">
                                    <a href="#" id="add_line"
                                       class="btn btn-link btn-block text-left font-weight-bold text-primary text-uppercase">
                                        Add line
                                    </a>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Figure display -->
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Your figure</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                 aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <a class="dropdown-item" href="#">Add a line</a>
                                <a class="dropdown-item" href="#">Remove a line</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Save a figure</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="text-center" id="graph-container">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                 src="../static/plot.png" alt="Picture here">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /.container-fluid -->

    <!-- End of Main Content -->

{% endblock %}

{% block bottom_scripts %}

    <!-- Page level plugins -->
    <!--<script src="../static/vendor/chart.js/Chart.min.js"></script> -->

    <!-- Page level custom scripts -->
    <!--<script src="../static/demo/chart-area-demo.js"></script>
    <script src="../static/demo/chart-pie-demo.js"></script> -->
    <script type="template/x-handlebars" id="element-template">
        {% raw %}
        <div class="card">
            <div class="card-header" id="heading_{{ count }}">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left font-weight-bold text-primary text-uppercase"
                            type="button" data-toggle="collapse"
                            data-target="#collapse_{{ count }}" aria-expanded="true"
                            aria-controls="collapse_{{ count }}">
                        Line {{ count }}
                    </button>
                </h2>
            </div>
            <div id="collapse_{{ count }}" class="collapse show" aria-labelledby="heading_{{ count }}"
                 data-parent="#line_forms">
                <div class="card-body">
                    <form class="graph-form row" id="line_{{ count }}">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Expression to plot
                            <input name="expression" style="width:90%;" type="text" value="">
                        </div>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            From x=(min)
                            <input name="xmin" type="text" value="" style="width:90%;">
                        </div>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            to x=(max)
                            <input name="xmax" type="text" value="" style="width:90%;">
                        </div>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Label
                            <input name="label" type="text" value="" style="width:90%;">
                        </div>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Include in legend? <input checked name="include_in_legend" type="checkbox"
                                                      value="y">
                        </div>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Line color
                            <select name="linecolor">
                                <option value="b">Blue</option>
                                <option value="g">Green</option>
                                <option value="r">Red</option>
                                <option value="c">Cyan</option>
                                <option value="m">Magenta</option>
                                <option value="y">Yellow</option>
                                <option value="k">Black</option>
                                <option value="w">White</option>
                            </select>
                        </div>
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Line width
                            <input name="linewidth" type="text" value="2.0" style="width:40%;">
                            </h4>
                            <h4 class="small font-weight-bold">
                                Line style
                                <select name="linestyle">
                                    <option selected value="-">Solid</option>
                                    <option value="--">Dashed</option>
                                    <option value="-.">Dashed-dot</option>
                                    <option value=".">Dotted</option>
                                </select>
                            </h4>
                            <h4 class="small font-weight-bold">
                                Scatterplot?
                                <input name="scatterplot" type="checkbox" value="y">
                            </h4>
                            <h4 class="small font-weight-bold">
                                Number of points
                                <input name="n_points" type="text" value="1000" style="width:90%;">
                            </h4>
                            <h4 class="small font-weight-bold">
                                Noise level in %
                                <input max="100" min="0" name="noise" step="5" style="width:90%;"
                                       type="range" value="0">
                            </h4>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endraw %}
    </script>
{% endblock %}
</body>

</html>