{% extends 'base.html' %}

{% block title %}Scientific computations{% endblock %}

{% block content %}
<h1 id="history" align="center">Graphing calculator</h1>

<fieldset>
    <legend>Enter figure parameters</legend>
    <form id="graph">
    <p>
        f(x)=<input type="text" name="expression" size="100" required/>
    </p>
    <p>
    From x=<input type="number" name="xmin" required/>
        to x=<input type="number" name="xmax" required/>
    </p>
    <p>Options (Optional)</p>
    <table>
        <tr>
            <th> Labels </th>
            <th> Properties</th>
        </tr>
        <tr>
            <td> Title <input type="text" name="title"></td>
            <td> Include grid? <input type="checkbox" name="isgrid" value="1"> </td>
        </tr>
        <tr>
            <td> x label <input type="text" name="xlabel"></td>
            <td> Line color:
                <select name="linecolor">
                    <option value="b">Blue</option>
                    <option value="g">Green</option>
                    <option value="r">Red</option>
                    <option value="c">Cyan</option>
                    <option value="m">Magenta</option>
                    <option value="y">Yellow</option>
                    <option value="k">Black</option>
                    <option value="w">White</option>
                </select>
            </td>
        </tr>
        <tr>
            <td> y label <input type="text" name="ylabel"></td>
            <td> Line width: To be added</td>
        </tr>
        <tr>
            <td> </td>
            <td> Line style
                <select name="linestyle">
                    <option value="-">Solid</option>
                    <option value="--">Dashed</option>
                    <option value="-.">Dashed-dot</option>
                    <option value="..">Dotted</option>
                </select>
            </td>
        </tr>
    </table>
    <p></p>
    <input type="submit" name="submit" value="submit">
    <span id="result"></span>
    </form>
</fieldset>
{% endblock %}

{% block history %}
<h1> History </h1>
<div id="graph-container">

</div>
{% endblock %}