{% extends 'base.html' %}

{% block main %}
<h1 id="history" align="center">Graphing calculator</h1>
<div>
<fieldset>
    <legend>Enter figure parameters</legend>
    <form id="graph" method="POST" action="./">
        {{ form.csrf_token }}
        <p>{{ form.expression1.label }} {{ form.expression1() }}</p>
        <p>
            {{ form.xmin1.label }} {{ form.xmin1() }}
            {{ form.xmax1.label }} {{ form.xmax1() }}
        </p>
        <p>
            {{ form.label1.label }}{{ form.label1() }}
            {{ form.include_in_legend1.label }}{{ form.include_in_legend1() }}</p>
        <p>
            {{ form.linecolor1.label }} {{ form.linecolor1() }}
            {{ form.linewidth1.label }} {{ form.linewidth1() }}
            {{ form.linestyle1.label }} {{ form.linestyle1() }}
        </p>
        <p>
            {{ form.scatterplot1.label }}{{ form.scatterplot1() }}
            {{ form.n_points1.label }}{{ form.n_points1() }}
        </p>
        <br>

        <p>{{ form.expression2.label }} {{ form.expression2() }}</p>
        <p>
            {{ form.xmin2.label }} {{ form.xmin2() }}
            {{ form.xmax2.label }} {{ form.xmax2() }}
        </p>
        <p>
            {{ form.label2.label }}{{ form.label2() }}
            {{ form.include_in_legend2.label }}{{ form.include_in_legend2() }}
        </p>
        <p>
            {{ form.linecolor2.label }} {{ form.linecolor2() }}
            {{ form.linewidth2.label }} {{ form.linewidth2() }}
            {{ form.linestyle2.label }} {{ form.linestyle2() }}
        </p>
        <p>
            {{ form.scatterplot2.label }}{{ form.scatterplot2() }}
            {{ form.n_points2.label }}{{ form.n_points2() }}
        </p>
        <br>
        <p>
            {{ form.expression3.label }} {{ form.expression3() }}
        </p>
        <p>
            {{ form.xmin3.label }} {{ form.xmin3() }}
            {{ form.xmax3.label }} {{ form.xmax3() }}
        </p>
        <p>
            {{ form.label3.label }}{{ form.label3() }}
            {{ form.include_in_legend3.label }}{{ form.include_in_legend3() }}
        </p>
        <p>
            {{ form.linecolor3.label }} {{ form.linecolor3() }}
            {{ form.linewidth3.label }} {{ form.linewidth3() }}
            {{ form.linestyle3.label }} {{ form.linestyle3() }}
        </p>
        <p>
            {{ form.scatterplot3.label }}{{ form.scatterplot3() }}
            {{ form.n_points1.label }}{{ form.n_points1() }}
        </p>



    <p>Options (Optional)</p>
    <table>
        <tr>
            <th> Labels </th>
            <th> Properties</th>
        </tr>
        <tr>
            <td> {{ form.title.label }} {{ form.title() }}</td>
            <td> {{ form.isgrid.label }} {{ form.isgrid() }} </td>
        </tr>
        <tr>
            <td> {{ form.xlabel.label }} {{ form.xlabel() }}</td>
            <td>  </td>
        </tr>
        <tr>
            <td> {{ form.ylabel.label }} {{ form.ylabel() }}</td>
            <td> </td>
        </tr>
        <tr>
            <td> </td>
            <td>  </td>
        </tr>
    </table>
    <p text-align="center;"></p>
    {{ form.submit() }}
    <span id="result"></span>
    </form>
</fieldset>
</div>
{% endblock %}

{% block history %}
<h1> History </h1>
<div id="graph-container">

</div>
{% endblock %}