{% extends 'base.html' %}

{% block main %}
<h1 id="history" align="center">Graphing calculator</h1>
<div>
<fieldset>
    <legend>Enter figure parameters</legend>
    <form id="graph" method="POST" action="/graph_request">
        {{ form.csrf_token }}
    <p>{{ form.expression.label }} {{ form.expression() }}</p>
    <p>
        {{ form.xmin.label }} {{ form.xmin() }}
        {{ form.xmax.label }} {{ form.xmax() }}
    </p>
    <p>Options (Optional)</p>
    <table>
        <tr>
            <th> Labels </th>
            <th> Properties</th>
        </tr>
        <tr>
            <td> {{ form.title.label }} {{ form.title() }}</td>
            <td> {{ form.isgrid.label }} {{ form.isgrid() }} </td>
        </tr>
        <tr>
            <td> {{ form.xlabel.label }} {{ form.xlabel() }}</td>
            <td> {{ form.linecolor.label }} {{ form.linecolor() }} </td>
        </tr>
        <tr>
            <td> {{ form.ylabel.label }} {{ form.ylabel() }}</td>
            <td> {{ form.linewidth.label }} {{ form.linewidth() }}</td>
        </tr>
        <tr>
            <td> </td>
            <td> {{ form.linestyle.label }} {{ form.linestyle() }} </td>
        </tr>
    </table>
    <p text-align="center;"></p>
    {{ form.submit() }}
    <span id="result"></span>
    </form>
</fieldset>
</div>
{% endblock %}

{% block history %}
<h1> History </h1>
<div id="graph-container">

</div>
{% endblock %}