{% extends 'base.html' %}

{% block title %}Scientific computations{% endblock %}

{% block content %}
<h1 id="history" align="center">Online calculator</h1>

<fieldset>
    <legend>Enter the formula</legend>
    <form id="calc" action="./schedule_calculation" method="POST">
        <input type="text" name="expression" required/>
        <input type="submit" name="submit" value="submit">
        <span id="result"></span>

    </form>
</fieldset>
{% endblock %}

{% block history %}
<h1> History </h1>
<fieldset>
    <legend> Last 10 calculations </legend>
    <div id="container"></div>
</fieldset>
{% endblock %}


